/* Estilo dashboard logo */
.quarto-dashboard #quarto-dashboard-header .navbar .navbar-logo {
    max-height: 50px;
    min-height: 30px;
    object-fit: cover;
    margin-right: 1em;
}


/* Estilo dashboard titulo */
.quarto-dashboard #quarto-dashboard-header .navbar .navbar-title .navbar-title-text {
    margin-right: 1.5em;
    color: #000000;
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 1px;
}

/*Estilo dashboard autor */
.quarto-dashboard #quarto-dashboard-header .navbar .navbar-author {
    margin-right: 1.5em;
    color: #grey;
    font-size: 0.75em;
    text-align: left;
    margin-bottom: 1px;
}



/* Espaciado entre filas y columnas */
.quarto-dashboard .bslib-grid {
  row-gap: 30px;   /* espacio vertical */
  column-gap: 7px; /* opcional: espacio horizontal entre columnas */
}


/* Cards headers: color fondo y el texto de los headers */
.quarto-dashboard .card .card-header {
  background-color: #A3D8E7;  /* color de fondo */
  color: #000000;             /* color del texto */
  font-weight: bold;          /* opcional: resaltar el texto */
}


/* Estilos para el contenedor principal de la valuebox */
.valuebox {
  text-align: center; /* Cambia posicion elementos */
  padding: 8px 10px; /* Cambia posicion elementos de arriba,abajo y izq.der */
  border: 3px solid #000000; /* Color bordes */
  border-radius: 9px !important; /* Que tan bordeado */
  box-shadow: 0 4px 8px rgba(255,255,255) !important; /* Sombra */
}



/* Cambia el valor */
.card.valuebox[style*="#00B7CC"] .value-box-value {
  font-size: 80px !important;
  font-weight: bold !important;
  color: white !important;
}


/* Cambiar el título */
.card.valuebox[style*="#00B7CC"] .value-box-title {
  font-size: 5em !important;
  font-weight: bold !important;
  color: white !important; /* solo cambia el color del título */
}


/* Cambiar el icono */
.card.valuebox[style*="#00B7CC"] .value-box-showcase i {
  font-size: 8em !important;
  color: white !important;
}




/* Cambia el valor */
.card.valuebox[style*="#1F3463"] .value-box-value {
  font-size: 80px !important;
  font-weight: bold !important;
  color: white !important;
}


/* Cambiar el título */
.card.valuebox[style*="#1F3463"] .value-box-title {
  font-size: 5em !important;
  font-weight: bold !important;
  color: white !important; /* solo cambia el color del título */
}


/* Cambiar el icono */
.card.valuebox[style*="#1F3463"] .value-box-showcase i {
  font-size: 8em !important;
  color: white !important;
}

/* Cambia el valor */
.card.valuebox[style*="#A3D8E6"] .value-box-value {
  font-size: 80px !important;
  font-weight: bold !important;
  color: white !important;
}


/* Cambiar el título */
.card.valuebox[style*="#A3D8E6"] .value-box-title {
  font-size: 4em !important;
  font-weight: bold !important;
  color: white !important; /* solo cambia el color del título */
}


/* Cambiar el icono */
.card.valuebox[style*="#A3D8E6"] .value-box-showcase i {
  font-size: 8em !important;
  color: white !important;
}





/* Estilos para el número dentro de la valuebox */

.bslib-value-box .value-box-title {
    font-size: 0.9rem; /* Tamaño fuente */
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 50px;
    line-height: 1.2;
  font-weight: bold !important;
    color: white; /* Color letra */
}

.quarto-dashboard .bslib-value-box .value-box-value {
  /* Elimina la función clamp() y usa un valor fijo o tu propio clamp() */
  font-size: 2em; /* Tamaño deseado */
  font-weight: bold !important;
  color: white; /* Color deseado */
}

.quarto-dashboard .bslib-value-box .value-box-showcase .bi {
    font-size: 2.5em;   /* probá con 2em, 3em, 4em */
    text-align: center;
    height: 5px;     /* mejor que forzar 0.5em */
    color: white;
}


/* Estilos para gauge */
.html-widget.gauge svg {
    height: 100% !important;
    width: 100% !important;
    max-height: 200px;   /* tamaño gauge */
    margin: auto;        /* lo centra dentro de la card */
    display: block;
}

/* Estilo panel gráfico*/
.html-fill-container>.html-fill-item {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
}

